.checkout__basket-ordered-list{
	width: 895px;
	list-style-type: none;
	counter-reset: item;
    -webkit-padding-start: 0;
    margin-left: 0;
    margin-bottom: 15px;
}
.checkout__basket-ordered-item{
	min-height: 60px;
	box-sizing: border-box;
}
.checkout__basket-ordered-item:before{
	content: counter(item);
	counter-increment: item;
	padding: 0 30px;
}
.checkout__basket-ordered-item:nth-child(odd), .checkout__gift-item:nth-child(odd){
	background-color: $white-two;
}
.checkout__basket-ordered-item:nth-child(even), .checkout__gift-item:nth-child(even){
	background-color: $white;
}
.checkout__basket-ordered-img-wrap, .checkout__basket-ordered-title, .checkout__basket-price, .checkout__quantity-counter, .checkout__basket-total-price, .checkout__basket-ordered-delete{
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
}
.checkout__basket-ordered-img-wrap{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border: 1px solid $warm-grey;
	border-radius: 3px;
	margin-right: 30px;
	box-sizing: border-box;
}
.checkout__basket-ordered-img{
	width: 40px;
	height: 40px;
}
.checkout__basket-ordered-title{
	width: 310px;
}
.checkout__basket-ordered-title-link{
	color: $black;
}
.checkout__basket-ordered-title-p{
	line-height: 16px;
}
.checkout__basket-price{
	width: 110px;
	text-align: center;
}
.checkout__quantity-counter{
	position: static;
	width: 120px;
}
.checkout__quantity-counter-num{
	color: $black;
}
.checkout__basket-total-price{
	width: 110px;
	text-align: center;
}
.checkout__basket-delete-btn{
	width: 61px;
	height: 60px;
	color: $tomato;
	border-style: none;
	background-color: transparent;
}

.checkout__gift-list{
	margin-bottom: 27px;
}
.checkout__gift-item{
	padding: 10px 30px 10px 67px;
}
.sum-btn-wrap{
	float: right;
	width: 550px;
	margin-bottom: 30px;
}
.sum-wrap{
	float: left;
	width: 220px;
}
.checkout__make-order-btn{
	float: right;
	height: 50px;
}

.checkout__basket{
	width: 895px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.checkout__basket-title{
	margin-bottom: 40px;
}
.checkout__basket-title-text{
	float: left;
	font-size: 20px;
	color: $black;
}
.checkout__basket-edit{
	float: right;
	width: 115px;
	height: 24px;
	border-radius: 3px;
	background-color: $white-two;
	box-sizing: border-box;
}
.checkout__basket-edit-icon, .checkout__basket-edit-link{
	display: inline-block;
	line-height: 24px;
}
.checkout__basket-edit-link{
	font-size: 12px;
	color: $warm-grey;
	padding: 0 10px;
}

.checkout__basket-item{
	margin-bottom: 20px;
}
.checkout__basket-item-pic-wrap, .checkout__basket-gift-pic-wrap{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    border: solid 1px $white-three;
}
.checkout__basket-item-pic-link, .checkout__basket-gift-link{
	display: block;
    height: 100%;
}
.checkout__basket-item-pic, .checkout__basket-gift-pic{
	width: 80px;
	height: 80px;
}
.checkout__basket-item-title{
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	margin-right: 60px;
}
.checkout__basket-item-num{
	display: inline-block;
	vertical-align: middle;	
	width: 70px;
}
.checkout__basket-item-price{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 90px;
}

.checkout__basket-gift{
	margin-bottom: 10px;
}
.checkout__basket-gift-item{
	margin-bottom: 20px;
}
.checkout__basket-gift-pic-wrap, .checkout__basket-gift-title{
	display: inline-block;
	vertical-align: middle;
}
.checkout__basket-total-wrap{
	border-top: 1px solid $white-three;
	padding-top: 20px;
}
.checkout__basket-order, .checkout__basket-delivery{
	color: $warm-grey;
	line-height: 20px;
}
.checkout__basket-total{
	font-family: $bold;
	font-size: 18px;
	line-height: 30px;
}
.checkout__basket-order-sum-text, .checkout__basket-delivery-sum-text, .checkout__basket-total-sum-text{
	display: block;
	float: left;
}
.checkout__basket-order-sum-wrap{
	float: right;
}

/* ОФОРМЛЕНИЕ ЗАКАЗА */
.checkout__form{
	width: 895px;
}
.checkout__title{
	margin-bottom: 40px;
}
.checkout__subtitle{
	margin-bottom: 38px;
}
.checkout__subtitle-text{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: $warm-grey;
	margin-right: 10px;
}
.checkout__subtitle-decor{
	display: inline-block;
	vertical-align: middle;
	width: 716px;
	height: 1px;
	background-color: $white-three;
}
.checkout__subtitle-decor2{
	width: 779px;
}
.checkout__field-wrap{
	width: 70%;
	margin-bottom: 20px;
}
.checkout__comment-input{
	height: 80px;
}
.checkout__submit{
	float: right;
}
.checkout__warning{
	font-size: 12px;
	color: $warm-grey;
}