.location-link::after{
	content: "";
	display: inline-block;
	position: relative;
	bottom: 3px;
    left: 2px;
    width: 4px;
    height: 4px;
    transform: rotate(-45deg);
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.location__yes-no{
	display: none;
}

.lower-header-elem .logo-link{
	width: 140px;
	margin-right: 11px;
}

.middle-header__hamb-menu{
	display: inline-block;
	width: 65px;
	height: 50px;
	border-radius: 3px;
	background-color: $white;
	border: solid 1px $white-three;
	margin-right: 15px;
    box-sizing: border-box;
    padding: 16px 10px;
}
.middle-header__hamb-menu-icon{
	display: block;
    position: relative;
    top: 1px;
    right: 3px;
}
.middle-header__hamb-menu-icon{
	margin-right: 5px;
}
.middle-header__hamb-menu-icon::after{
	content: "";
	display: block;
	position: relative;
    top: -16px;
    right: -38px;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    border-bottom: solid 1px $warm-grey;
    border-left: solid 1px $warm-grey;
}

.lowest-header{
	min-height: 40px;
}
.header-breadcrumbs, .header-breadcrumbs-list, .header-breadcrumbs__item, .item-assessment, .stars-wrap, .article-review, .article-share{
	display: inline-block;
}
.header-breadcrumbs{
	max-width: 865px;
}
.header-breadcrumbs__item{
	color: $warm-grey;
}
.header-breadcrumbs__link{
	display: inline-block;
	color: $warm-grey;
}
.header-breadcrumbs__link::after{
	content: "—";
	color: $white-three;
}
.header-breadcrumbs__item:last-child .header-breadcrumbs__link::after{
	content: "";
}

.item-assessment{
	float: right;
}
.article-review__icon, .article-review, .article-share__icon, .article-share__text{
	display: inline-block;
	vertical-align: middle;
}
.stars-wrap{
	margin-right: 14px;
}
.rating {
	overflow: hidden;
	vertical-align: bottom;
	display: inline-block;
	width: auto;
	height: 15px;
}
.rating > input {
	opacity: 0;
	margin-right: -100%;
}
.rating > label {
	position: relative;
	display: block;
	float: right;
	background: url('../images/icons/star-unchecked.png');
	background-size: 15px 15px;
}
.rating label {
	margin-right: 5px;
}
.rating > label:before {
	display: block;
	opacity: 0;
	content: '';
	width: 15px;
	height: 15px;
	background: url('../images/icons/star-checked.png');
	background-size: 15px 15px;
	transition: opacity 0.2s linear;
}
.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { 
	opacity: 1; 
}
.stars-wrap label{
	cursor: pointer;
}

.article-review{
	margin-right: 15px;
}
.article-review__icon{
	margin-right: 3px;
}

.article-share__icon{
	width: 17px;
	height: 18px;
	margin-right: 8px;
}

