.main-section{
	background-color: $pale-grey;
	padding: 30px 0 15px 0;
}

.sidebar-categories{
	float: left;
	margin-right: 15px;
}
.categories-product {
	width: 289px;
	height: 300px;
	background-color: $white;
	margin-bottom: 15px;
}
.categories-product-item__link{
	display: block;
	line-height: 40px;
	padding-top: 2.7px;
}
.categories-product-item__link:hover, .various-link:hover{
	background-color: $white-two;
	color: $azure;
}
.categories-product-item__link:hover svg *{
	stroke: $azure;
}
.categories-product-item__icon{
	position: relative;
	top: 3.5px;
	display: inline-block;
	vertical-align: baseline;
	width: 25px;
	height: 25px;
	padding: 0 18px 0 19px;
	text-align: center;
}


.categories-various{
	width: 288px;
	min-height: 155px;
	background-color: $white;
	margin-bottom: 15px;
}
.various-link{
	display: block;
	line-height: 33px;
    padding-left: 18px;
    padding-top: 6.1px;
}


.info-request{
	width: 288px;
    height: 130px;
    background-color: #8bc34a;
    padding: 16px 18px;
    box-sizing: border-box;
}
.info-request-text{
    position: relative;
    top: -16px;
}
.info-request__p{
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: $white;
}
.info-request-btn{
	position: relative;
	bottom: 14px;
	border-style: none;
	width: 137px;
	height: 30px;
	border-radius: 3px;
	background-color: transparent;
	border: solid 1px $white;
	transition: background-color 0.3s;
}
.info-request-btn:hover{
	background-color: $booger-light;
	transition: background-color 0.3s;
}
.info-request-btn__text{
	font-size: 14px;
	line-height: 1px;
	text-align: center;
	color: $white;
}


.shopwindow-goods__item{
	position: relative;
	display: block;
	float: left;
	width: 288px;
	height: 300px;
	background-color: $white;
	margin-bottom: 15px;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.shopwindow-goods__item:nth-child(2){
	margin-right: 0;
}
.shopwindow-goods__item_wide{
	width: 591px;
	height: 300px;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.shopwindow-goods{

	&__content-left{
		padding: 18px;
		width: 199px;
	}

	&__new-label{
		width: 67px;
		height: 20px;
		border-radius: 10px;
		background-color: $booger;
		margin-bottom: 14px;
		margin-top: -8px;
	}
	&__new-label-p{
		text-transform: uppercase;
	}
}

.shopwindow-goods__new-label-p{
	color: $white;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
}
.shopwindow-goods__title{
	font-size: 30px;
	color: $black;
}
.shopwindow-goods__title-small{
	font-size: 21px;
	color: $black;
	line-height: 22px;
}
.shopwindow-goods__description{
	display: block;
    width: 200px;
    height: 54px;
	font-size: 16px;
	line-height: 18px;
}
.shopwindow-goods__item:first-child .shopwindow-goods__price{
	bottom: 37px;
}
.shopwindow-goods__price{
	position: absolute;
	bottom: 37px;
	font-size: 18px;
	color: $azure;
}
.shopwindow-goods__item:first-child .shopwindow-goods__btn{
	bottom: 19px;
}
.shopwindow-goods__btn{
	position: absolute;
	bottom: 19px;
    left: 17px;
	width: 64px;
	height: 30px;
	border-radius: 3px;
	background-color: transparent;
	border: solid 1px $white-three;
	color: $azure;
	font-size: 14px;
}

.shopwindow-categories__item{
	display: block;
	float: left;
	background-color: $white;
	margin-right: 15px;
}
.shopwindow-categories__item:nth-child(2){
	margin-right: 0;
}
.shopwindow-categories__item{
	position: relative;
	width: 288px;
	height: 300px;
	padding-left: 20px;
	padding-top: 15px;
	box-sizing: border-box;
	background-position: center center;
	background-repeat: no-repeat;
}
.shopwindow-categories__item:nth-child(5){
	background-position: bottom right;
	background-repeat: no-repeat;
	margin-right: 0;
}
.shopwindow-categories__item-title-link{
	font-size: 21px;
	color: $black;
	text-transform: uppercase;
}
.shopwindow-categories__item-link{
	position: absolute;
	left: 17px;
    bottom: 20px;
	display: block;
	width: 94px;
	height: 30px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: transparent;
	border: solid 1px $white-six;
	color: $azure;
	text-align: center;
	line-height: 30px;
}


.popular-products-list{
	display: block;
	margin-bottom: 10px;
}
.popular-products-title{
	margin: 26px 0;
}
.popular-products-title__p{
	font-size: 20px;
	margin: 0;
}
.popular-products-item{
	float: left;
	box-sizing: border-box;
	display: block;
	width: 288px;
	height: 411px; 
	background-color: $white;
	border: solid 1px $white-three;
	padding: 0 20px 20px 17px;
	margin: 0 12px 12px 0;
}
.popular-products-item:nth-child(4){
	margin-left: 0;
}
.popular-products-item-container{
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
}
.popular-products-item__title{
	position: absolute;
	width: 250px;
}
.popular-products__quick-view:hover .popular-products__quick-view-btn{
	display: block;
}
.popular-products__img{
	position: relative;
	width: 247px;
	height: 247px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.popular-products__quick-view-btn{
	display: none;
	position: absolute;
	top: 57%;
    left: 11%;
	background-color: $white;
	width: 200px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0px -2px 10px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px $white-six;
}
.quick-view-btn__icon{
	display: inline-block;
	width: 30px;
	height: 18px;
	object-fit: contain;
	background-image: url(../images/icons/eye.svg);
	vertical-align: middle;
	margin-right: 5px;
}
.quick-view-btn__text{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: $azure;
}

.popular-products-item__price, .popular-products-item__delivery, .popular-products-item__delivery, .popular-products-item__quantity-counter, .popular-products-item__quantity-counter-minus, .popular-products-item__quantity-counter-num, .popular-products-item__quantity-counter-plus, .popular-products-item__to-buy, .popular-products-item__to-buy-icon, .popular-products-item__to-buy-text{
	display: inline-block;
}
.popular-products-item__price{
	position: relative;
	bottom: -54px;
	width: 112px;
	.popular-products-item__price-p{
		font-size: 20px;
		line-height: 22px;
	}
}
.popular-products-item__delivery{
	position: relative;
    left: 9px;
    bottom: -52px;
}
.popular-products-item__delivery-icon{
	display: inline-block;
	width: 14px;
	height: 9px;
	background-image: url(/build/assets/images/icons/delivery.png);
}
.popular-products-item__delivery-text{
	font-size: 12px;
	color: $warm-grey;
}
.popular-products-item__quantity-counter{
	position: absolute;
    left: 1px;
    bottom: -73px;
    width: 110px;
    font-size: 0;
}
.popular-products-item__quantity-counter-minus{
	margin-right: 3px;
}
.popular-products-item__quantity-counter-minus, .popular-products-item__quantity-counter-plus{
	width: 23px;
	height: 23px;
	background-color: transparent;
	border: solid 1px $dodger-blue;
	border-radius: 50%;
	color: $dodger-blue;
	padding: 0;
}
.popular-products-item__quantity-counter-num{
    min-width: 40px;
	color: $warm-grey;
	text-align: center;
	font-size: 14px;
	padding-right: 3px;
}
.popular-products-item__to-buy-btn{
	position: absolute;
	bottom: -81px;
    right: 0;
	width: 133px;
	height: 40px;
	border-radius: 3px;
	background-color: $booger;
	border: none;
	transition: background-color 0.3s;
}
.popular-products-item__to-buy-btn:hover{
	background-color: $booger-light;
	transition: background-color 0.3s;
}
.popular-products-item__to-buy-icon{
	width: 18px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;
	background-image: url(../images/icons/basket-2.svg);
}
.popular-products-item__to-buy-text{
	color: $white;
	line-height: 40px;
	font-size: 16px;
	vertical-align: middle;
}