.profile-section{
	border-top: 1px solid $white-three;
	padding-top: 24px;
}

.profile-sidebar{
	float: left;
	min-width: 290px;
	min-height: 100%;
	margin: 0 10px 30px 0;	
}
.profile-sidebar__title{
	font-size: 18px;
	margin-bottom: 30px;
}

.profile-sidebar__menu-list{
	width: 290px;
	height: 90px;
	border: 1px solid $white-three;
	padding: 18px;
	box-sizing: border-box;
}
.profile-sidebar__menu-list-item{
	padding-bottom: 20px;
}
.profile-sidebar__menu-list-item_active{
	font-weight: bold;
}
.profile-sidebar__menu-link{
	font-size: 14px;
	color: $black;
}

.profile-content{
	/*display: none;*/
	float: left;
	width: 900px;
	margin-bottom: 60px;
}
.filter-wrap{
    margin-top: -7px;
	margin-bottom: 20px;
}
.filter-date, .filter-order-wrap{
	display: inline-block;
	margin-right: 30px;
}
.filter__label{
	margin: 0 10px;
	color: $warm-grey;
}
.filter__input::placeholder{
	color: $black;
}
.filter__input{
	width: 150px;
	padding: 0 18px;
	box-sizing: border-box;
}
.filter-order__label{
	margin-right: 10px;
}
.filter__input, .filter-order-select{
	height: 38px;
	line-height: 38px;
	border: 1px solid $white-three;
	font-family: $regular;
}
.filter-order-select{
	padding: 0 10px;
	color: $warm-grey;
}

.profile-content__list-item{
	height: 60px;
	line-height: 60px;
	background-color: $pale-grey;
	padding: 0 25px;
	box-sizing: border-box;
	font-size: 13px;
}
.profile-content__list-item:nth-child(even){
	background-color: $white;
}
.profile-content__list-item_inline{
	display: inline-block;
}
.profile-content__list-item-number{
	margin-right: 55px;
}
.profile-content__list-item-date, .profile-content__list-item-price, .profile-content__list-item-shopping-method{
	width: 175px;
	text-align: center;
}
.profile-content__list-item-quantity{
	width: 130px;
	text-align: center;
}
.profile-content__list-item-order-status{
	width: 110px;
	text-align: center;
}


/*     FILES style      */ 
.profile-files{
	padding-top: 50px;
}
.profile-files__list{
	margin-bottom: 30px;
}
.profile-files__list-item{
	width: 288px;
	height: 200px;
	display: inline-block;
	border: 1px solid $white-three;
	text-align: center;
	margin-right: 12px;
	box-sizing: border-box;
}
.profile-files__list-item:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.profile-files__list-item-link{
    display: inline-block;
    vertical-align: middle;
}
.profile-files__list-item:nth-child(3){
	margin-right: 0;
}
.profile-files__list-item-title{
	color: $black;
	font-size: 18px;
}
.profile-files__list-item-size{
	color: $warm-grey;
	font-size: 16px;
}