.registration__wrap{
	border-top: 1px solid $white-three;
	padding: 38px 0;
}
.registration__form{
	width: 580px;
	margin: 0 auto;
}
.registration__title{
	margin-bottom: 32px;
}
.registration__title-text{
	font-size: 20px;
}
.registration__type{
    margin-bottom: 40px;
    border-bottom: 1px solid $white-three;	
}
.registration__type-list{
	padding-bottom: 10px;
}
.registration__type-item{
	display: inline-block;
}
.registration__type-link{
	color: $warm-grey;
	padding: 10px;
}
.registration__type-link_active{
	color: $black;
	border-bottom: 2px solid $booger;
}
.registration__field-wrap{
	width: 100%;
	margin-bottom: 20px;
}
.registration__field-wrap_required{
	margin-bottom: 20px;
}
.registration__field-wrap_required:after{
	content: "Заполните это поле";
	position: relative;
    left: 278px;
	color: $tomato;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: -13px;
}
.registration__label{
	float: left;
	line-height: 40px;
}
.asterisk::after{
	content: "*";
	color: $tomato;
	font-size: 14px;
    font-weight: bold;
}
.registration__category-title-wrap{
	width: 100%;
}
.registration__category-title{
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
	color: $warm-grey;
	padding-right: 5px;
}
.registration__category-title-decor, .registration__category-title-decor2, .registration__category-title-decor3{
	display: inline-block;
	vertical-align: middle;
	background-color: $white-three;
	width: 491px;
    height: 1px;
}
.registration__category-title-decor2{
	width: 460px;
}
.registration__category-title-decor3{
	width: 467px;
}

.registration__passport-series-label{
	margin-right: 4px;
}
.registration__input, .registration__country-select, .registration__region-select{
	float: right;
	width: 302px;
	height: 40px;
	border: solid 1px $white-three;
	padding: 10px;
	box-sizing: border-box;
}
.registration__input_blank{
	border: solid 1px $tomato;
}
.registration__passport-series-input{
	width: 110px;
	margin-right: 10px;
}
.registration__passport-num-input{
	width: 182px;
}

.copy-payer-data-btn{
	float: right;
	border-style: none;
	background-color: transparent;
    margin-top: -8px;
}
.copy-payer-data-text, .copy-payer-data-arrow{
	color: $booger;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}
.copy-payer-data-arrow{
    display: block;
    position: relative;
    top: 8px;
    right: 14px;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
    border-bottom: solid 1.4px #8bc34a;
    border-left: solid 1.4px #8bc34a;
}

.captcha-wrap{
	width: 302px;
	height: 80px;
}

.registration__submit{
	display: block;
	float: right;
	width: 302px;
	height: 40px;
	border-radius: 3px;
	color: $white;
	background-color: $booger;
	border-style: none;
	box-shadow: 0px 10px 20px 0 rgba(139, 195, 74, 0.26), 0px 10px 15px 0 rgba(139, 195, 74, 0.36), inset 0px -2px 0 0 #7cb342;
}
.registration__submit:hover{
	background-color: $booger-light;
    transition: background-color 0.3s;
}