.registration__wrap{
	border-top: 1px solid $white-three;
	padding: 40px 0;
}
.registration__form{
	width: 580px;
	margin: 0 auto;
}
.registration__title{
	margin-bottom: 15px;
}
.registration__title-text{
	font-size: 20px;
}
.registration__type{
    margin-bottom: 25px;
    border-bottom: 1px solid $white-three;	
}
.registration__type-list{
	padding-bottom: 10px;
}
.registration__type-item{
	display: inline-block;
}
.registration__type-link{
	color: $warm-grey;
	padding: 10px;
}
.registration__type-link_active{
	color: $black;
	border-bottom: 2px solid $booger;
}
.registration__field-wrap{
	width: 100%;
	margin-bottom: 30px;
}
.registration__field-wrap_required{
	margin-bottom: 20px;
}
.registration__field-wrap_required:after{
	content: "Заполните это поле";
	position: relative;
    left: 278px;
	color: $tomato;
	font-size: 12px;
	line-height: 14px;
}
.registration__label{
	float: left;
	line-height: 40px;
}
.asterisk::after{
	content: "*";
	color: $tomato;
	font-size: 14px;
    font-weight: bold;
}
.registration__input{
	float: right;
	width: 302px;
	height: 40px;
	border: solid 1px $white-three;
	padding: 10px;
	box-sizing: border-box;
}
.registration__input_blank{
	border: solid 1px $tomato;
}

.registration__submit{
	display: block;
    margin: 0 auto;
	width: 302px;
	height: 40px;
	border-radius: 3px;
	color: $white;
	background-color: $booger;
	border-style: none;
	box-shadow: 0px 10px 20px 0 rgba(139, 195, 74, 0.26), 0px 10px 15px 0 rgba(139, 195, 74, 0.36), inset 0px -2px 0 0 #7cb342;
}
.registration__submit:hover{
	background-color: $booger-light;
    transition: background-color 0.3s;
}