.popup-outer{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.popup-outer:before{
    content: "";
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.popup-wrap{
	position: relative;
    display: inline-block;
    vertical-align: middle;
}
.request-wrap{
	width: 550px;
	height: 552px;
	padding: 30px;
	border-radius: 3px;
	box-shadow: -1px 22px 31px 5px rgba(0,0,0,0.23);
	margin-right: 50px;
}
.request-form{
	font-size: 14px;
	display: block;
}
.request-title{
	margin-bottom: 30px;
	text-align: left;
}
.request-title-text{
	font-size: 18px;
	font-weight: bold;
}

.close {
	position: absolute;
    right: 23px;
    top: 10px;
	width: 14px;
	height: 14px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: $warm-grey;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.request__type-list{
	text-align: left;
}
.request__field-wrap{
	width: 76%;
	margin-bottom: 20px;
}
.request__message{
	height: 80px;
	line-height: 16px;
	resize: none;
}

.request-sent{
	position: relative;
    display: inline-block;
    vertical-align: middle;
	width: 352px;
	height: 276px;
	padding: 30px;
	border-radius: 3px;
	box-shadow: -1px 22px 31px 5px rgba(0,0,0,0.23);
	box-sizing: border-box;
}
.icon-border{
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid $white-three;
	margin: 0 auto;
	margin-bottom: 30px;
}
.icon-checked{
	display: block;
	position: absolute;
    top: 17px;
    left: 26px;
	font-size: 40px;
	color: $booger;
}
.request-sent__title{
	margin-bottom: 5px;
}
.request-sent__message{
	margin-bottom: 20px;
}
.request-sent__message-text{
	color: $warm-grey;
}
.continue-btn{
	width: 120px;
	float: none;
	margin: 0 auto;
}